#header-section{
    position: relative;
    height: 80vh;
    background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/images/mae-mu-BqJAbXk2Fuw-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#navigation{
    position: absolute;
}
#logo{
    color:goldenrod;
    font-size: xx-large;
    font-family: 'Dancing Script', cursive;
}
#about{
    position: relative;
}
#navbarNav a{
    color: black;
    font-family: 'Teko', sans-serif;
    font-size: large;
}
#navbarNav a:hover{
    border-bottom: 3px solid goldenrod;
}

#about h3{
    border-bottom: 3px solid goldenrod;
    border-bottom-width: thick;
    width: max-content;
}

#products h3{
    border-bottom: 3px solid goldenrod;
    border-bottom-width: thick;
    width: max-content;
    color: whitesmoke;
}

#products p{
    font-family: 'Teko', sans-serif;
    font-size: larger;
    color: whitesmoke
}
#product_one{
    background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/images/product_one.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;   
}
#product_two{
    background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/images/product_two.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;   
}
#product_three{
    background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/images/product_three.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;   
}
#products{
    height: 300px;
    background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/images/jessica-loaiza-DHYfjAe_eeo-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
}
footer{
    background-color:black
}
footer h4{
    text-decoration: underline;
    font-family: 'Teko', sans-serif;
}
footer p{
    font-family: 'Peddana', serif;
    font-size: x-large;
}
